/* Import Colors */
@import 'colors.css';

/* Define Theme Specific Colors */
@define-color icon_color #FFFFFF;
@define-color border_color @secondary;
@define-color background @surface;
@define-color on_surface #FFFFFF;

/* --- General --- */
* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.0);
    transition-duration: .5s;
}

/* --- Modules Layout --- */
.modules-left, .modules-center, .modules-right {
    background-color: @background;
    border: 2px solid @border_color;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 4px;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0px 5px;
    color: @on_surface;
    background: transparent;
    transition: all 0.3s;
}

#workspaces button.active {
    color: @secondary;
    font-weight: bold;
}

#workspaces button:hover {
    background: @secondary;
    color: @background;
    border-radius: 10px;
}

/* --- Individual Modules --- */
#clock, #battery, #cpu, #memory, #disk, #temperature, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #scratchpad, #custom-exit {
    padding: 0 10px;
    color: @on_surface;
}

#custom-exit {
    color: @error;
    font-size: 18px;
    padding-right: 5px;
}

/* Hardware Group Styling */
#disk, #memory, #cpu {
    color: @icon_color;
}

/* Tooltips */
tooltip {
    background: @surface;
    border: 2px solid @border_color;
    border-radius: 10px;
}
tooltip label {
    color: @on_surface;
}
